<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-indigo-500 to-blue-600 px-4 py-10 sm:px-6 lg:px-8"
>
  <div
    class="w-full max-w-md bg-white rounded-xl shadow-2xl p-6 sm:p-8 space-y-6"
  >
    <h2 class="text-2xl sm:text-3xl font-bold text-center text-gray-800">
      Tizimga kirish
    </h2>

    <form
      (ngSubmit)="onLogin()"
      #loginForm="ngForm"
      class="space-y-5 sm:space-y-6"
    >
      <!-- Login -->
      <div>
        <p-floatlabel>
          <input
            pInputText
            id="username"
            name="username"
            required
            autocomplete="off"
            [(ngModel)]="username"
            class="w-full"
          />
          <label for="username">Login</label>
        </p-floatlabel>
      </div>

      <!-- Parol -->
      <div>
        <div class="relative w-full">
          <input
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
            required
            name="password"
            id="password"
            placeholder="Parol"
            class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />

          <!-- toggle icon (eye) -->
          <button
            type="button"
            (click)="showPassword = !showPassword"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-600 cursor-pointer"
            tabindex="-1"
          >
            <i
              class="pi"
              [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
            ></i>
          </button>
        </div>
      </div>

      <!-- Button -->
      <p-button
        label="Kirish"
        severity="success"
        type="submit"
        class="w-full"
      ></p-button>
    </form>
  </div>
</div>
